<html>

<head>
    <title> ToDo App </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet">
    <link href="/styles.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">ToDo</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>

            </ul>

        </div>
    </nav>
    <div class="container">
        <!-- <h2> A Simple ToDo List App </h2> -->
        <form action="/addtask" method="POST">
            <div class="container my-3">
                <h1>ToDo</h1>
                <div class="card">
                    <div class="card-body">
                        <div class="form-group">
                            <h5 class="card-title">Add title</h5>
                            <input type="text" class="form-control" id="addTitle" aria-describedby="title"
                                name="newtask" placeholder="add new task">
                        </div>
                        <button class="btn btn-success"> Add Task </button>
                    </div>
                </div>
            </div>
            <hr>
            <h2> Added Task </h2>
            <hr>
            <div class="row container-fluid">
                <% for( var i=0; i < task.length; i++){ %>
                    <div class="noteCard my-2 mx-2 card" style="width: 18rem;">
                        <div class="card-body">
                            <h6 class="card-title">
                                <%= task[i] %>
                            </h6>
                            <button type="submit" class="btn btn-primary" formaction="/donetask" name="check1"
                                value="<%= task[i] %>"> Mark Completed </button>
                        </div>
                    </div>
                    <% } %>
            </div>
            
            <hr>
            <h2> Completed task </h2><hr>
            <div class="row container-fluid">
                <% for( var i=0; i < completed.length; i++){ %>
                    <div class="noteCard my-2 mx-2 card" style="width: 18rem;">
                        <div class="card-body">
                            <h6 class="card-title">
                                <%= completed[i] %>
                            </h6>
                            <button type="submit" class="btn btn-danger" formaction="/deletetask" name="check"
                                value="<%= completed[i] %>">Delete</button>
                        </div>
                    </div>
                    <% } %>
            </div>
            <hr>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>